<MarketplaceDetails>
  <SmallAppTile>icon300.png</SmallAppTile>
  <LargeAppTile>icon173.png</LargeAppTile>
  <PCAppTile>Icon200.png</PCAppTile>
  <ScreenShots>PlayMeCongklak1.png;PlayMeCongklak4.png;PlayMeCongklak8.png;PlayMeCongklak7.png;PlayMeCongklak10.png;PlayMeCongklak2.png;PlayMeCongklak3.png;PlayMeCongklak5.png;</ScreenShots>
  <ScreenShotsWXGA>;;;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>;;;;;;;;</ScreenShots720P>
</MarketplaceDetails>